



.name{
    position:relative;
    left: 30px;
}


.number{
    position: relative;
    left: 90px
}

.follow{
    position:relative;
    bottom: 10px;
    left: 90px;
}

.number2{
    position:relative;
    bottom: 80px;
    left: 230px;

}


.follow2{
    position:relative;
    bottom: 90px;
    left: 230px;


}


.card-link{
    color:black;
    text-decoration: none;
    position:relative;
    bottom: 50px;
    left: 150px;

}


.profile{
    position: relative;
    left: 100px;
}


.card-title{
    position: relative;
    left: 93px;
}


.card-subtitle{
    position: relative;
    left: 93px;
}


.areatext{
    position: relative;
    left: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    top: 47px;
}






